In [1]:
# dependencies and setup
import pandas as pd
import csv
import json
from sqlalchemy import create_engine
import numpy as np
import sqlite3

In [2]:
# load csv file into dataframe
csv_file1 = "Resources/P3_State_Lat_Long.csv"
State_Lat_Long = pd.read_csv(csv_file1, encoding="utf8")
State_Lat_Long.head()

,State,Initials,Abbrev,BLS_State_Code,Latitude,Longitude,Pop_1990,Pop_2000,Pop_2010,Pop_2018,UR,UR_Pop,Percent_D,Deaths,Population_D
0,Alabama,AL,Ala.,ST0100000000000,32.806671,-86.791130,4040389,4447207,4780138,4887871,0.026,4908621,0.00009892,485,4903185
1,Alaska,AK,Alaska,ST0200000000000,61.370716,-152.404419,550043,626933,710249,737438,0.061,734002,-,0,731545
2,Arizona,AZ,Ariz.,ST0400000000000,33.729759,-111.431221,3665339,5130247,6392288,7171646,0.046,7378494,0.00009329,679,7278717
3,Arkansas,AR,Ark.,ST0500000000000,34.969704,-92.373123,2350624,2673293,2916028,3013825,0.036,3038999,0.00003247,98,3017804
4,California,CA,Calif.,ST0600000000000,36.116203,-119.681564,29811427,33871653,37254523,39557045,0.039,39937489,0.00008119,3208,39512223

state_pop_30m = state_pop_in_m[(state_pop_in_m["pop_1990_m"]==3000000) & (state_pop_in_m["pop_2000_m"]==3000000) & (state_pop_in_m["pop_2010_m"]==3000000) & (state_pop_in_m["pop_2018_m"]==3000000)]
state_pop_30m.to_csv(r"C:\Users\faril\Desktop\project 2 draft\state_pop_30m.csv", encoding="utf-8")

state_pop_30m

In [3]:
# load csv file into dataframe
csv_file2 = "Resources/P3_unemployment.csv"
unemployment = pd.read_csv(csv_file2, encoding="utf8")
unemployment.head()

   year  unemp_rate
0  2010   12.964063
1  2011   12.620313
2  2012   11.171875
3  2013   10.390625
4  2014    8.889062

In [4]:
rds_connection_string = "postgres:Abc*1234@127.0.0.1:5432/p3_project"
engine = create_engine(f'postgres://{rds_connection_string}')

In [5]:
engine.table_names()

['state_lat_long', 'unemployment', 'State_Lat_Long']

In [6]:
unemployment.to_sql(name="unemployment", con=engine, if_exists="append", index=False)

In [7]:
State_Lat_Long.to_sql(name="state_lat_long", con=engine, if_exists="append", index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "State" of relation "state_lat_long" does not exist
LINE 1: INSERT INTO state_lat_long ("State", "Initials", "Abbrev", "...
                                    ^

[SQL: INSERT INTO state_lat_long ("State", "Initials", "Abbrev", "BLS_State_Code", "Latitude", "Longitude", "Pop_1990", "Pop_2000", "Pop_2010", "Pop_2018", "UR", "UR_Pop", "Percent_D", "Deaths", "Population_D") VALUES (%(State)s, %(Initials)s, %(Abbrev)s, %(BLS_State_Code)s, %(Latitude)s, %(Longitude)s, %(Pop_1990)s, %(Pop_2000)s, %(Pop_2010)s, %(Pop_2018)s, %(UR)s, %(UR_Pop)s, %(Percent_D)s, %(Deaths)s, %(Population_D)s)]
[parameters: ({'State': 'Alabama', 'Initials': 'AL', 'Abbrev': 'Ala.', 'BLS_State_Code': 'ST0100000000000', 'Latitude': 32.806671, 'Longitude': -86.79113000000001, 'Pop_1990': 4040389, 'Pop_2000': 4447207, 'Pop_2010': 4780138, 'Pop_2018': 4887871, 'UR': 0.026000000000000002, 'UR_Pop': 4908621, 'Percent_D': '0.00009892', 'Deaths': 485, 'Population_D': 4903185}, {'State': 'Alaska', 'Initials': 'AK', 'Abbrev': 'Alaska', 'BLS_State_Code': 'ST0200000000000', 'Latitude': 61.370716, 'Longitude': -152.404419, 'Pop_1990': 550043, 'Pop_2000': 626933, 'Pop_2010': 710249, 'Pop_2018': 737438, 'UR': 0.061, 'UR_Pop': 734002, 'Percent_D': ' -   ', 'Deaths': 0, 'Population_D': 731545}, {'State': 'Arizona', 'Initials': 'AZ', 'Abbrev': 'Ariz.', 'BLS_State_Code': 'ST0400000000000', 'Latitude': 33.729759, 'Longitude': -111.431221, 'Pop_1990': 3665339, 'Pop_2000': 5130247, 'Pop_2010': 6392288, 'Pop_2018': 7171646, 'UR': 0.046, 'UR_Pop': 7378494, 'Percent_D': '0.00009329', 'Deaths': 679, 'Population_D': 7278717}, {'State': 'Arkansas', 'Initials': 'AR', 'Abbrev': 'Ark.', 'BLS_State_Code': 'ST0500000000000', 'Latitude': 34.969704, 'Longitude': -92.37312299999999, 'Pop_1990': 2350624, 'Pop_2000': 2673293, 'Pop_2010': 2916028, 'Pop_2018': 3013825, 'UR': 0.036000000000000004, 'UR_Pop': 3038999, 'Percent_D': '0.00003247', 'Deaths': 98, 'Population_D': 3017804}, {'State': 'California', 'Initials': 'CA', 'Abbrev': 'Calif.', 'BLS_State_Code': 'ST0600000000000', 'Latitude': 36.116203000000006, 'Longitude': -119.681564, 'Pop_1990': 29811427, 'Pop_2000': 33871653, 'Pop_2010': 37254523, 'Pop_2018': 39557045, 'UR': 0.039, 'UR_Pop': 39937489, 'Percent_D': '0.00008119', 'Deaths': 3208, 'Population_D': 39512223}, {'State': 'Colorado', 'Initials': 'CO', 'Abbrev': 'Colo.', 'BLS_State_Code': 'ST0800000000000', 'Latitude': 39.059810999999996, 'Longitude': -105.311104, 'Pop_1990': 3294473, 'Pop_2000': 4302086, 'Pop_2010': 5029316, 'Pop_2018': 5695564, 'UR': 0.025, 'UR_Pop': 5845526, 'Percent_D': '0.00020699', 'Deaths': 1192, 'Population_D': 5758736}, {'State': 'Connecticut', 'Initials': 'CT', 'Abbrev': 'Conn.', 'BLS_State_Code': 'ST0900000000000', 'Latitude': 41.597782, 'Longitude': -72.755371, 'Pop_1990': 3287116, 'Pop_2000': 3405650, 'Pop_2010': 3574147, 'Pop_2018': 3572665, 'UR': 0.037000000000000005, 'UR_Pop': 3563077, 'Percent_D': '0.00093653', 'Deaths': 3339, 'Population_D': 3565287}, {'State': 'Delaware', 'Initials': 'DE', 'Abbrev': 'Del.', 'BLS_State_Code': 'ST1000000000000', 'Latitude': 39.318523, 'Longitude': -75.507141, 'Pop_1990': 666168, 'Pop_2000': 783559, 'Pop_2010': 897934, 'Pop_2018': 967171, 'UR': 0.039, 'UR_Pop': 982895, 'Percent_D': '0.00029371', 'Deaths': 286, 'Population_D': 973764}  ... displaying 10 of 51 total bound parameter sets ...  {'State': 'Wisconsin', 'Initials': 'WI', 'Abbrev': 'Wis.', 'BLS_State_Code': 'ST5500000000000', 'Latitude': 44.268543, 'Longitude': -89.616508, 'Pop_1990': 4891954, 'Pop_2000': 5363757, 'Pop_2010': 5687282, 'Pop_2018': 5813568, 'UR': 0.034, 'UR_Pop': 5851754, 'Percent_D': '0.0000778', 'Deaths': 453, 'Population_D': 5822434}, {'State': 'Wyoming', 'Initials': 'WY', 'Abbrev': 'Wyo.', 'BLS_State_Code': 'ST5600000000000', 'Latitude': 42.755966, 'Longitude': -107.30248999999999, 'Pop_1990': 453589, 'Pop_2000': 493786, 'Pop_2010': 563773, 'Pop_2018': 577737, 'UR': 0.037000000000000005, 'UR_Pop': 567025, 'Percent_D': '0.00001209', 'Deaths': 7, 'Population_D': 578759})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
State_request = input("Please input state:") 
print(State_request)

In [ ]:
State_request